# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# AI
GEMINI_API_KEY=

# Filters
MAX_RENT=1500
AVAILABLE_FROM=2026-08-15
AVAILABLE_UNTIL=2027-02-05

# WG-Gesucht credentials (for login)
WGG_EMAIL=
WGG_PASSWORD=
